{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4">Compare PC Prices at One Place</h1>
    <p class="lead mb-0">Search for a PC Part and check its prices from different websites at one place!</p>
    <p class="lead mb-0">Websites: MDcomputers, Kharidiye & PrimeABGB</p>
    <p class="lead">
        Made with ❤️ by
        <a href="https://www.linkedin.com/in/ansh-shrivastava-6a2975199/" class="text-white" target="_blank">
            <u>Ansh Shrivastava</u>
        </a>
    </p>

</div>
<div class="row mb-5">
    <div class="col-lg-8 mx-auto">
        <div class="search p-5 rounded shadow">
            <form action="/results">
                <div class="row mb-4">
                    <div class="form-group col-md-9">
                        <input type="text" placeholder="What're you searching for?"
                            class="form-control form-control-underlined" name="search_term">
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                    </div>
                </div>
            </form>
            <p class="small">
                <em>
                    *Please use spaces in between search terms whenever possible to get best results!
                </em>
            </p>
            <p class="small">
                <em>Ex: Search <strong>"rtx 2080 ti"</strong> instead of "rtx 2080ti".
                </em>
            </p>
            <p class="small">
                <em>
                    *Results may take upto 10 seconds to load, please be patient!
                </em>
            </p>
        </div>
    </div>
</div>
{% endblock %}